/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
 
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/   
img {
    max-width: 75%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x:auto;
}

#Name{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3.5em;
    animation: fadeInAnimation ease 5s;
    background-color: steelblue;
    color:aliceblue;
    padding-top: 14px;
    float: left;
    
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

body{
    background-color:steelblue;
    
}

#Cont{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
}

#contact{
    display: inline-block;
    width: 100%;
    background-color: steelblue;
    color: white;
    min-height: 75px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
}
#contact h2{
    padding-top: 1em;
    font-weight: bold;
    
}
.contactText{
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    margin: auto 1em;
}

.contactText:hover{
    color:#abb4df;
}

#Abt{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 0.5em;
}

.About{
    font-size: larger;
    /* background-color: #253790; */
    border-style: solid;
    border-color: #253790;
    border-width: 12px;
    text-align: justify;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    border-radius: 25px;
  
}

#Pro{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
}

.Proj{
    font-size: 20px;
    /* background-color: #253790; */
    border-style: solid;
    border-color: #253790;
    border-width: 12px;
    text-align: justify;
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    border-radius: 25px;
}

#pro1{
    width: 340px;
    height: 340px;
    padding-bottom: 100px;
    padding-right: 25px;
}

#pro2{
    width: 340px;
    height: 340px;
    padding-bottom: 100px;
    padding-right: 25px;
}

/* a:hover{
    background-color: aliceblue;
} */

hr{
    height:2px;
    border-width: 5px;
    color:black;
    background-color:black;
}

/* * #navBar {
    overflow: hidden;
    
} * */

#navBar a {
    float: left;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: steelblue; 
  
} 
#navBar a:hover{
    background-color: #abb4df;
    color: black;
}
#MainContent{
    width: 90%;
    margin: 0 auto;
    background-color: aliceblue;
   
}
.container-fluid{
    width: 75%;
    margin: 0 auto;
    background-color: steelblue;
}
#navBar{
    float: right;
}
